---
import cn from "@/libs/cn";
import DiamondShape from "@/components/DiamondShape.astro";

interface Props {
  text?: "MENU" | "CLOSE";
  other?: string;
}

const { text = "MENU", other } = Astro.props as Props;

const wrapStyle = cn(
  `col-start-1 row-start-1 grid h-full w-full grid-cols-1 grid-rows-2 content-between ${other}`,
);

const closeLineStyle = (rotate?: "rotate") =>
  cn(
    "absolute inset-0 h-px w-3 -translate-x-[2.5px] translate-y-[2.5px] bg-white",
    rotate ? "rotate-90" : "rotate-0",
    "md:w-5 md:-translate-x-[5px]",
  );

const labelStyle = (open: "open" | "close") =>
  cn(
    "menu-label font-en text-white text-xs tracking-wide md:text-base transition-colors duration-300",
    open === "open" && "row-start-2",
  );

const openDiaStyle = (animate?: "animate") =>
  cn(
    animate ? "animate dia-white opacity-100" : "dia-main opacity-0",
    "transition-opacity duration-300 col-start-1 row-start-1",
  );
---

{
  text === "CLOSE" ? (
    <div id="menu-close" class={wrapStyle}>
      <DiamondShape menu={true} color="transparent" other="animate">
        <span class={closeLineStyle()} />
        <span class={closeLineStyle("rotate")} />
      </DiamondShape>
      <span class={labelStyle("close")}>{text}</span>
    </div>
  ) : (
    <div id="menu-open" class={wrapStyle}>
      <DiamondShape menu={true} other={openDiaStyle("animate")} />
      <DiamondShape menu={true} color="main" other={openDiaStyle()} />
      <span class={labelStyle("open")}>{text}</span>
    </div>
  )
}
