---
import cn from "@/libs/cn";
import DiamondShape from "@/components/DiamondShape.astro";

interface Props {
  text?: "MENU" | "CLOSE";
  other?: string;
}

const { text = "MENU", other } = Astro.props as Props;

const wrapStyle = cn(
  `col-start-1 row-start-1 grid h-full w-full grid-rows-2 content-between ${other}`,
);

const closeLineStyle = (rotate: boolean) =>
  cn(
    "absolute inset-0 h-px w-3 -translate-x-[2.5px] translate-y-[2.5px] bg-white",
    rotate ? "rotate-90" : "rotate-0",
    "md:w-5",
  );

const labelStyle = cn("menu-label font-en text-xs tracking-wide md:text-base");
---

{
  text === "CLOSE" ? (
    <div id="menu-close" class={wrapStyle}>
      <DiamondShape menu={true} color="transparent">
        <span class={closeLineStyle(false)} />
        <span class={closeLineStyle(true)} />
      </DiamondShape>
      <span class={labelStyle}>{text}</span>
    </div>
  ) : (
    <div id="menu-open" class={wrapStyle}>
      <DiamondShape menu={true} />
      <span class={labelStyle}>{text}</span>
    </div>
  )
}
