---
import cn from "@/libs/cn";
import DiamondShape from "@/components/DiamondShape.astro";

interface Props {
  text: string;
  link: string;
  other?: string;
  subColor?: boolean;
  lg?: boolean;
}

const {
  text,
  link,
  other,
  lg = false,
  subColor = false,
} = Astro.props as Props;

const btnStyle = cn("font-en w-full", other);

const linkStyle = cn(
  "relative block m-auto py-4 bg-main rounded-full max-w-[400px] md:py-6 md:text-2xl 2xl:text-3xl 2xl:py-8",
  lg ? "w-full text-2xl" : "w-4/5 text-lg",
  subColor ? "text-main bg-emerald-100" : "text-white bg-main",
);

const decoStyle = cn(
  "btn-deco pointer-events-none absolute top-1/2 right-3 bottom-1/2 h-9 w-9 -translate-y-1/2 md:h-12 md:w-12 md:right-4",
);

const circleStyle = cn(
  "btn-circle pointer-events-none absolute top-0 left-0 h-full w-full rounded-full",
  subColor ? "bg-main opacity-50" : "bg-[#9F95A3]",
);
---

<button class={btnStyle}>
  <a href={link} class={linkStyle}>
    {text}
    <div class={decoStyle}>
      <DiamondShape other="absolute inset-0 z-1" />
      <div class={circleStyle}></div>
    </div>
  </a>
</button>
